<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server/app.js" verb="*" modules="iisnode" />
    </handlers>

    <iisnode
      nodeProcessCommandLine="C:\Program Files\nodejs\node.exe"
      loggingEnabled="true"
      devErrorsEnabled="true"
      enableXFF="true" />

    <rewrite>
      <rules>
        <clear />
        <rule name="LetsEncrypt Rewrite" stopProcessing="true">
          <match url="^\.well-known/(.*)$" />
          <action type="Rewrite" url="/well-known/{R:1}" />
        </rule>

        <rule name="NodeJs" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/server/app.js" />
        </rule>
      </rules>
    </rewrite>

    <security>
      <requestFiltering>
        <hiddenSegments />
      </requestFiltering>
    </security>

    <directoryBrowse enabled="false" />

    <staticContent>
      <mimeMap fileExtension="." mimeType="text/plain" />
      <mimeMap fileExtension="" mimeType="text/plain" />
    </staticContent>
  </system.webServer>

  <system.web>
    <roleManager enabled="true" />
  </system.web>
</configuration>
